<div class="jumbotron text-center">
  <h1>Hackerlife<img src=''/></h1>
  <p class="lead">
    A place one can learn while having fun!
  </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Newbies</h3>
    <p></p>
  </div>
  <div class="col-md-4">
    <h3>build your portfolio</h3>
    <p></p>
  </div>
  <div class="col-md-4">
    <h3>Mentoring</h3>
    <p></p>
  </div>
</div>
